snippet doc
  (** ${0} *)
snippet com
  (* ${0} *)
snippet g
  | ${1} -> ${0}
snippet p
  |> ${0}
snippet arg
  ~${1}:( ${2} )${0}
snippet func
  function
    | ${1} -> ${0}
snippet let
  let ${1} in
  ${0}
snippet mat
  match ${1} with
    | ${2} -> ${0}
snippet if
  if ${1} then ${2}
  else ${3}
